* {
    margin: 0;
    padding: 0;
}



.blue {
    background-color: rgb(86, 77, 77);
    width: 80%;
    height: 370px;
    margin: 48px auto;
    text-align: center;
}

.blue img{
    padding: 20px 80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.blue button {
    margin: 0px 48px;
    width: 50px;
    text-align: center;
    background-color: aqua soild;
    border: 1px soild;
    border-radius:20px ;
    border: rgb(0, 0, 0) 1px solid;
}
