  * {
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #de2127;

    padding: 15px 40px;
  }


  ul {
    list-style: none;
    padding: 0px 2px 0px 0px;
    margin: 0px;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:hover {
    color: blue;
  }

  #li {
    float: right;
  }

  img {
    width: 50px;
    position: absolute;
    right: 10px;
    top: 3px;
  }

  #se-po {
    position: absolute;
    right: 65px;
    top: 11px
  }

  #serach {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  button {
    background: red;
    border: 1px solid;
    border-radius: 6px;
    color: white;
    font-family: monospace;
    width: 68px;
    height: 20px;
    cursor: pointer;
  }

  h1 {
    font-size: large;
    color: darkred;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    font-size: larger;
    text-transform: capitalize;
  }

  h2 {
    font-size: large;
    color: rgb(36, 162, 203);
    padding: 0px;
    margin: 10px 0px 0px 0px;
  }


  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 2px solid black;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: tomato;
    color: white;
  }

  .td:hover {
    background-color: #ddd;
    cursor: pointer;
  }